<!-- About Us -->
<div class="container">
  <div class="page header" id="about">
    <h2>{{ aboutUs }}.
      <small> Our Kitchen</small>
    </h2>
  </div>
  <hr>

  <div class="row">
    <div class="col-lg-4">
      <blockquote>
        <p>Заглянули на минутку, очень много раз слышали об этой столовой. Интерьер шикарный, все выверено до мелочей, очень
          приятное место. Заказали салаты, вторые блюда, десерты. Долго над выбором думать не пришлось, улыбчивый официант
          все рассказал и помог с выбором!</p>
        <footer class="quote">Влюбленная парочка</footer>
      </blockquote>
    </div>
    <div class="col-lg-4">
      <blockquote>
        <p>Столовая «Mimi» отличается особой элегантностью и имеет неповторимую классическую эстетику. Каждая деталь интерьера
          и элементов сервировки здесь располагает к приятным беседам за вкусным обедом или порцией отменных пирожков.</p>
        <footer class="quote">A'Studio</footer>
      </blockquote>
    </div>
    <div class="col-lg-4">
      <blockquote>
        <p>Мими эсть Мими. Впервые пабывала в 2016году. Обслуживание высший, знание меню, сама кухня) Антураж, атмосфера и стихатварения
          поета, которое официант зачитал много лет спустя в одно из посещений)) Вкусно, приятно, атмосферно! Рекаминдую!
        </p>
        <footer class="quote">Неизвестный</footer>
      </blockquote>
    </div>
  </div>
</div>
