<!-- Navigation bar -->
<div id="demo">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-inverse navbar-fixed-top navbar-toggleable-md">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="" class="navbar-brand text-primary" id="logo">Mimi</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
          <a href="assets/images/kitchen.jpg" download="" class="btn navbar-btn navbar-left" id="menuBtn">Download Menu</a>
          <ul class="nav navbar-nav">
            <li class="navbar-item">
              <a class="nav-link text-primary" href="#menu">Menu</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link text-primary" href="#about">AboutUs</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link text-primary" href="#gallery">Gallery</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link text-primary" href="#location">FindUs</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link text-primary" href="#contact">ContactUs</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

