<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ jbtHeading }}</h1>
    
    <p>
      {{ jbtText }} на сегодняшний день является одним из самых узнаваемых столовых брэндов в Казахстане. За один год {{ jbtText }} очаровал
      город Адматы. Наши цели и задачи – это индивидуальный подход к предпочтениям каждого гостя, максимальный комфорт и
      качественное обслуживание. {{ jbtText }} полностью оправдывает свое название: в нашей столовой прекрасно подобраны основные
      компоненты: прекрасная кухня, качественное обслуживание и приятная атмосфера. В уютных залах гостеприимный персонал
      всегда предложит лучшие блюда русской, европейской, восточной, итальянской и традиционной кухни. Особенностью нашей
      кухни является то, что при приготовлении блюд мы не используем ГМО продукты, также не пользуемся полуфабрикатами.
      Каждое блюдо приготовлено из свежих продуктов, обязательно высокого качества.
    </p>

    <p><a href="#menu" class="btn btn-lg" id="menuBtn">Download Menu</a></p>

  </div>
</div>
