<div class="container" id="menu">
  <div class="row">
    <div class="col-lg-8">
      <h2>Description</h2>
      <br>
      <h4>Soup</h4>
      <p>US President Donald Trump's executive order to ban immigrants from seven Muslim-majority countries is being compared
        to the internment of Japanese Americans during World War II. Barely two months after the Pearl Harbor attack in 1941,
        nearly 120,000 people of Japanese ancestry residing on the country's western coast were branded a military threat
        and put inside internment camps across the country.</p>
    </div>
    <div class="col-lg-4">
      <img src="assets/images/soup.jpg" class="img-responsive" alt="image">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h4>Pan Cakes</h4>
      <p>US President Donald Trump's executive order to ban immigrants from seven Muslim-majority countries is being compared
        to the internment of Japanese Americans during World War II. Barely two months after the Pearl Harbor attack in 1941,
        nearly 120,000 people of Japanese ancestry residing on the country's western coast were branded a military threat
        and put inside internment camps across the country.</p>
    </div>
    <div class="col-lg-4">
      <img src="assets/images/blini.jpg" class="img-responsive" alt="image">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h4>Cutlets</h4>
      <p>US President Donald Trump's executive order to ban immigrants from seven Muslim-majority countries is being compared
        to the internment of Japanese Americans during World War II. Barely two months after the Pearl Harbor attack in 1941,
        nearly 120,000 people of Japanese ancestry residing on the country's western coast were branded a military threat
        and put inside internment camps across the country.</p>
    </div>
    <div class="col-lg-4">
      <img src="assets/images/kotleti.jpg" class="img-responsive" alt="image">
    </div>
  </div>
</div>
