<div id="menu"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2>Description</h2>
      <br>
      <h4>Суп</h4>
      <p>Крем-суп из брокколи – нежный, яркий и очень ароматный! Такая пища будет очень кстати после большого застолья, когда
        желудку необходим полный покой и отдых. Данный рецепт предполагает приготовление супа-пюре. Но если вам не нравится
        подобная консистенция, то можете не пюрировать его. Суп получается очень нежным с тонким ароматом пряностей и сливочным
        насыщенным вкусом. Отличный вариант обеда и даже ужина!</p>
    </div>
    <div class="col-lg-4">
      <img src="assets/images/soup.jpg" class="img-responsive" alt="image">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h4>Блины</h4>
      <p>Жареные блины восхитительно сочетаются со свежестью клубники. Ягода, созревшая на грядке под ярким солнышком, лучше
        всего подходит для приготовления этого блюда. Чтобы такие блины стали настоящим десертом, начинку можно подсластить.
        Для этого мы используем сахарную пудру, потому что она, в отличие от простого сахара, мгновенно тает в клубничном
        соке и наполняет блины сладостью.</p>
    </div>
    <div class="col-lg-4">
      <img src="assets/images/blini.jpg" class="img-responsive" alt="image">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h4>Котлеты</h4>
      <p>Котлеты из конины в кунжуте – полезное, но достаточно редкое блюдо, которое даже при готовке в домашних условиях имеет
        индивидуальный и специфический вкус. Этот деликатес популярен на Кавказе и Средней Азии. В нашей стране его редко
        можно встретить на прилавках магазинов, да и в рецептах конина встречается редко.</p>
    </div>
    <div class="col-lg-4">
      <img src="assets/images/kotleti.jpg" class="img-responsive" alt="image">
    </div>
  </div>
</div>
