<!-- Gallery -->
<div id="gallery"></div>
<div class="container">
    <div class="page-header">
      <h2>Gallery.
        <small> Out Food</small>
      </h2>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <carousel class="text-center">
        <slide>
          <img class="main-immage" src="assets/images/cakes.jpg" alt="First slide">
          <div class="carusel-caption">
            <h3>First slide label</h3>
            <p>Фирменные пирожки</p>
          </div>
        </slide>
        <slide>
          <img class="main-immage" src="assets/images/kotleti.jpg" alt="First slide">
          <div class="carusel-caption">
            <h3>First slide label</h3>
            <p>Котлеты из конины</p>
          </div>
        </slide>
        <slide>
          <img class="main-immage" src="assets/images/soup.jpg" alt="First slide">
          <div class="carusel-caption">
            <h3>First slide label</h3>
            <p>Крем суп из брокколи</p>
          </div>
        </slide>
        <slide>
          <img class="main-immage" src="assets/images/blini.jpg" alt="First slide">
          <div class="carusel-caption">
            <h3>First slide label</h3>
            <p>Блины по технологии апашки</p>
          </div>
        </slide>
      </carousel>
    </div>
