<div>
    <section>
      <div class="row">
        <div class="col-lg-4">
          <div class="panel panel-default text-center" id="my-panel">
            <div class="panel-body">
              <span class="glyphicon glyphicon-glass"></span>
              <h4>Изысканность</h4>
              <p>US President Donald Trump's executive order to ban immigrants from seven Muslim-majority countries is being compared
                to the internment of Japanese Americans during World War II. Barely two months after the Pearl Harbor attack
                in 1941, nearly 120,000 people of Japanese ancestry residing on the country's western coast were branded a
                military threat and put inside internment camps across the country.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-default text-center" id="my-panel">
            <div class="panel-body">
              <span class="glyphicon glyphicon-globe"></span>
              <h4>Качество</h4>
              <p>US President Donald Trump's executive order to ban immigrants from seven Muslim-majority countries is being compared
                to the internment of Japanese Americans during World War II. Barely two months after the Pearl Harbor attack
                in 1941, nearly 120,000 people of Japanese ancestry residing on the country's western coast were branded a
                military threat and put inside internment camps across the country.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-default text-center" id="my-panel">
            <div class="panel-body">
              <span class="glyphicon glyphicon-piggy-bank"></span>
              <h4>Цена</h4>
              <p>US President Donald Trump's executive order to ban immigrants from seven Muslim-majority countries is being compared
                to the internment of Japanese Americans during World War II. Barely two months after the Pearl Harbor attack
                in 1941, nearly 120,000 people of Japanese ancestry residing on the country's western coast were branded a
                military threat and put inside internment camps across the country.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>