<div>
  <section>
    <div class="row">
      <div class="col-lg-4">
        <div class="panel panel-default text-center" id="my-panel">
          <div class="panel-body">
            <span class="glyphicon glyphicon-glass"></span>
            <h4>Изысканность</h4>
            <p>Изысканность и роскошь присутствуют также в аксессуарах, декоре и текстиле. Однако важное условие заключается
              в том, что они должны сочетаться с объектами простых и современных форм, и, в общем-то, их не следует использовать
              в большом количестве – представленные в виде лишь нескольких акцентов, они будут иметь большую ценность в дизайне.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-default text-center" id="my-panel">
          <div class="panel-body">
            <span class="glyphicon glyphicon-globe"></span>
            <h4>Качество</h4>
            <p>Популярный сегодня тренд – забота о здоровье и качестве жизни во многом зависит от качества продуктов питания.
              В какой мере замороженные продукты способны обеспечить правильное питание? Несмотря на то, что сегмент замороженных
              продуктов питания достаточно долго присутствует на рынке, он не создал лояльного потребителя. Люди до сих пор
              не понимают важность качества еды.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-default text-center" id="my-panel">
          <div class="panel-body">
            <span class="glyphicon glyphicon-piggy-bank"></span>
            <h4>Цена</h4>
            <p> Сколько стоит поесть в кафе или ресторане быстрого питания в Сеуле. Недорого можно покушать в фуд кортах в торговых
              центрах. Порции обычно очень большие, такие, что хватит и на двоих. Так же достаточно дешево в небольших кафе
              для местных жителей, где нет английского меню. Репортеры Азаттыка проверили, сколько на самом деле стоит поесть
              в этих местах общественного питания.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
