<!-- Subscription -->
<div class="sub">
  <section>
    <div class="container text-center">
      <h3>Subscribe to Our Business Luch.</h3>
      <p>Enter your name and email.</p>

      <form action="" class="form-inline">
        <div class="form-group">
          <label for="subscription">Subscribe</label>
          <input type="text" class="form-control" id="subscription" placeholder="Your name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="text" class="form-control" id="email" placeholder="Enter your Email">
        </div>
        <button type="submit" class="btn" id="menuBtn">Subscribe</button>
        <hr>
      </form>
    </div>
  </section>
</div>
