@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
  padding-top: 10px;
  background: #fff;
  font-family: 'Raleway', 'Arial';
}

 #menuBtn {
   background-color: #F4511E;
   color: #fff;
 }

#my-panel {
  background-color: turquoise;
}


